/.idea
/assembla.json
/meta.json
/build/
/phpunit.xml
/bin/*
!/bin/console
/var/*
!/var/config.php
!/var/bootstrap.php.cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
!/web/bundles/
/web/bundles/*
!/web/bundles/.htaccess
/DEV
