{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
        <a href="{{ path('sonata_admin_dashboard', {'_switch_user': object.username}) }}" class="btn btn-default">
            <i class="fa fa-user"></i> <i class="fa fa-sign-in"></i>
        </a>
    {% endif %}
{% endblock %}